@import url('https://fonts.googleapis.com/css2?family=Abel&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


body{
    font-family: "Outfit", serif;
    background-color: hsl(212, 45%, 89%)
}

img{
    width: 250px;
    border-radius: 10px;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    text-align: center;
    width: 270px;
    padding: 1rem 0.5rem;
    margin: 15% auto;
}

.card p:first-of-type{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 20px;
}

.text{
    font-size: 12px;
    font-weight: 400;
    margin: 5px 30px;
    line-height: 150%;
}
